<?xml version='1.0' encoding='utf-8'?>
<widget id="io.onsen.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Patrika</name>
    <description>
Wedding invitation card    </description>
    <author email="aniket@sbitinfo.in" href="http://sbitinfo.in">
       SBIT
    </author>
	
	<feature name="Device">
    <param name="android-package" value="org.apache.cordova.device.Device" />
</feature>
    <content src="index.html" />
<plugins>
    <plugin name="Device" value="CDVDevice" />
    <plugin name="Logger" value="CDVLogger" />
    <plugin name="Compass" value="CDVLocation" />
    <plugin name="Accelerometer" value="CDVAccelerometer" />
    <plugin name="Camera" value="CDVCamera" />
    <plugin name="NetworkStatus" value="CDVConnection" />
    <plugin name="Contacts" value="CDVContacts" />
    <plugin name="Debug Console" value="CDVDebugConsole" />
    <plugin name="Echo" value="CDVEcho" />
    <plugin name="File" value="CDVFile" />
</plugins>
        <access origin="*" />

    
    
</widget>
