<?xml version='1.0' encoding='utf-8'?>
<widget id="io.onsen.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Patrika</name>
    <description>
Wedding invitation card    </description>
    <author email="aniket@sbitinfo.in" href="http://sbitinfo.in">
       SBIT
    </author>
	
    <content src="index.html" />
<plugins>
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" />
</plugins>
        <access origin="*" />

    
    
</widget>
